/*Support*/
/*Colors*/
/*Default font size*/
/*Base*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.primary-btn {
  color: #FFFFFF;
  background: #215184;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.625rem 1rem;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url("../assets/font/BrandonGrotesque-Regular.woff") format "woff";
}

body {
  font-family: 'BrandonGrotesque-Regular', sans-serif;
  font-size: 1rem;
  background-color: #FFFFFF;
}

h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #545454;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #545454;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #545454;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #545454;
  font-weight: 400;
}

p {
  font-size: 1rem;
  color: #545454;
  font-weight: 400;
}

@media screen and (min-width: 990px) {
  .app-body {
    padding-left: 2.5rem !important;
    padding-right: 5rem !important;
  }
}

.white-text {
  color: #FFFFFF;
}

.bold {
  font-weight: 700;
}

.icon {
  margin-left: 0.625rem;
}

/*Components*/
header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.875rem;
  padding-right: 0;
  padding-bottom: 1.875rem;
  padding-left: 2.5rem;
}

header .navbar .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  header .navbar .logo-wrapper {
    margin: 0;
  }
}

header .navbar .logo-wrapper .logo {
  width: 11.125rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

header .navbar .reload-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 1.34375rem;
  border-top-left-radius: 1.34375rem;
  border-bottom-right-radius: 1.34375rem;
  border-top-right-radius: 1.34375rem;
  margin: 1.875rem auto;
}

@media screen and (min-width: 480px) {
  header .navbar .reload-btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }
}

.launches-wrapper {
  margin-top: 0.8125rem;
}

.launches-wrapper .hero-image {
  margin: 0 auto;
}

.launches-wrapper .launch-items {
  margin-top: 2.5rem;
}

@media screen and (min-width: 990px) {
  .launches-wrapper .launch-items {
    margin-top: 0;
    max-height: 43.75rem;
    overflow-y: scroll;
    padding: 1.25rem;
  }
}

.launches-wrapper .launch-items .launch-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1rem 1rem 2rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
}

.launches-wrapper .launch-items .launch-item .item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.launches-wrapper .launch-items .launch-item .item-name h1 {
  margin-right: 0.625rem;
  font-size: 2.25rem;
}

@media screen and (min-width: 990px) {
  .launches-wrapper .launch-items .launch-item .item-name h1 {
    margin-right: 4.75rem;
  }
}

.launches-wrapper .launch-items .launch-item p {
  margin-bottom: 0;
}

.filter-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 990px) {
  .filter-bar {
    margin-top: 3.125rem;
  }
}

.filter-bar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-bar button:first-child {
  margin-right: 0.5625rem;
}
/*# sourceMappingURL=main.css.map */